# 排除IDEA和VSCODE
.idea/
.vscode/

/blog/post/about/
/blog/post/air-conditioner/
/blog/post/anzhiyu/
/blog/post/archives/
/blog/post/categories/
/blog/post/comments/
/blog/post/cookies/
/blog/post/copyright/
/blog/post/css/
/blog/post/essay/
/blog/post/fcircle/
/blog/post/images/
/blog/post/img/
/blog/post/js/
/blog/post/json/
/blog/post/link/
/blog/post/music/
/blog/post/page/
/blog/post/privacy/
/blog/post/tags/
/blog/post/website/
/blog/post/404.html
/blog/post/atom.xml
/blog/post/favicon.ico
/blog/post/index.html
/blog/post/manifest.json
/blog/post/search.xml
/blog/post/sw.js
/blog/post/sw-dom.js
